* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 48px;
}

li {
    list-style-type: none;
}
/* Navigation Bar */

#header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    backdrop-filter: blur(8px);
    width: 100%;
    height: 44px;
    min-height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, 25%);
    z-index: 9999;
}

#header ul {
    position: relative;
    display: inline-block;
    flex: 1;
    text-align: right;
}

#header li {
    display: inline-block;
    padding: 0 30px;
}

#header a {
    color: #000;
    text-decoration: none;
}

#header a:hover {
    color: #EB984E;
}

/* Styling */

#background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: fill;
    z-index: -10;
}

/* About Us */

.about-us {
    position: relative;
    width: 100%;
    background: #fff;
    /* margin: 0 auto; */
}

.about-us h1 {
    color: #000;
    margin: 20px;
}

.about-us h2 {
    margin: 20px;
    text-align: center;
}

.about-us p {
    text-align: justify;
    margin: 20px;
}

.about-us ul {
    margin: 20px;
    padding: 0;
    text-align: center;
}

.about-us li {
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    margin: 0 auto;
}

#logo {
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 40px;
}

/* Contact Us */

.contact-us {
    position: relative;
    width: 100%;
    /* margin: 0 auto; */
    background: #839192;
}

.newsletter {
    padding: 30px;
    background-color: rgba(52, 64, 92, 80%);
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
    width: 65%;
}

/* Footer */

footer {
    position: absolute;
    padding: 100px;
    margin: 0 auto;
    /* margin-top: 0; */
    background-color: rgb(43, 57, 68);
    width: 100%;
    /* bottom: 0; */
}

#bottom p {
    position: relative;
    color: #f5f5f5;
    font-size: 15px;
    margin: 0 auto;
    text-align: center;
}




/* Mobile */